@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    background:  linear-gradient(to right, rgb(52, 2, 110), rgb(224, 78, 21),rgb(15, 58, 65),rgb(19, 174, 197));
  }
  .mainheading{
    font-family: system-ui;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin: 2rem 0;
    text-shadow: 2px 2px 2px var(--primary-color);
    color: rgb(0, 0, 0);
  }

  header{
    position: fixed;
    height: 60px;
    top: 0;left: 0;right: 0;
    background: #2b1414;
    box-shadow: 0 20px 10px rgba(0,0,0,.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
  }
  
  header .navbar ul li{
    list-style: none;
    float: left;
  }
  header .navbar ul li a{
    font-size: 16px;   
    padding: 10px;
    color: rgb(230, 222, 222);
    display: block;
    font-weight: bold;
  }
  header .navbar ul li a:hover{ 
    color: rgb(88, 42, 42);  
  }
  #menu-bar{
    display: none;
  }
  header label{
    font-size: 20px;
    color:#333 ;
    cursor: pointer;
    display: none;
  }
/* home */
.Home{
    margin-top: 80px;
    height: 110vh;
    width: 100%;
}
.details{
    margin-top: 75px;
    padding: 90px;
}
.line1{
    color: white;
    font-size: 50px;
}
.line2{
    color: rgb(46, 22, 185);
    font-size: 60px;
}
#resume-button-2{
    background-color: #060606;
    margin-top: 20px;    
    padding: 10px 25px;
    border-radius: 5px;
    border-color: azure;
}
#resume-button-2 a{  
    color: white;   
    text-decoration: none;
    font-weight: bold;

    
}
#resume-button-2 a:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* about */
#about {
    padding-top: 10em;
    display: flex;
    width: 99%;
    margin: 0 auto 5em auto;
  }
  
  .child1 {
    width: 50%;
    margin: 1rem auto;
  
  }
  
  .child2 {
    width: 50%;
    margin: 0 auto;  
    justify-content: flex-end;
    padding: 0 50px;
  }
  .child1 h1 {
 font-size: 1rem;

  
  }
  .child2 img {
    width: 300px;
    border-radius: 5% 5%;
    box-shadow: 2px 2px 10px rgb(161, 40, 40);
    transition: all 1s;
  }
  .child2 img:hover{
   /* width: 310px; */
   transform: translateX(-5rem);
   box-shadow: 2px 2px 10px rgb(103, 212, 239),  -2px -2px 10px rgb(48, 57, 128);
   object-fit: contain;
   cursor: pointer;
  }
  .child1 h2 {
    color: white;
    margin: 1.5rem 0;
    font-size: 1rem;
    text-shadow: 1px 1px 1rem rgb(11, 10, 10);
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-name: para;
  } 
  
  
  .child1 h2 {
    color: white;
    margin: 1.5rem 0;
    font-size: 1rem;
    text-shadow: 1px 1px 1rem rgb(255, 255, 255);
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-name: para;
  }

  #skills{
    display: grid;
    width: 80%;
    margin:  0 auto;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .skills-card{
    margin: 2rem;
  }
  
  .name img {
    margin-top: -5px;
    height: 150px;
    object-fit: contain;
    width:130px;
    background-color: #ffffff3c;
    border: 2px solid rgba(255, 255, 255, 0.645);
  }


 .name:hover{
 transform: translatey(-1rem);
 box-shadow: 1px 1px 10px rgb(38, 139, 60),  -2px -2px 10px rgb(8, 20, 110);
 object-fit: contain;
 cursor: pointer;
}





@media only screen and (min-width: 720px) and (max-width: 900px){
   
   

}



@media only screen and (min-width: 400px) and (max-width: 768px){
    header{
        padding: 20px;    
          } 
          header label{
            display: initial;
          } 
          header .navbar{
            position: absolute;
            top:100%;left: 0;right: 0;
            background-color: #885555;
            border-top: 1px solid rgba(72, 163, 44, 0.1) ;
            display: none;
          }
          header .navbar ul li{   
            width: 100%;
          }
          header .navbar ul li ul{   
           position: relative;
           width: 100%;
          }
         
          #menu-bar{
              color: white;
              font-weight: bold;
            }
          #menu-bar:checked ~.navbar{
            display: initial;
            
          }
   

}


